@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,700');


.header-h1 {
    cursor: default;
}

.header-h4 {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-size: 2.5rem;
    
}

.navigation-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.about-header2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.about-paragraph {
    font-size: 1.6rem;
    font-family: 'Merriweather', serif;
    
}

.footer-link {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.2rem;
}